@use '../../styles.scss';

.header{
    width: 100%;
    min-height: 10vh;
    background-color: rgb(48, 48, 88);
    display: flex;
    justify-content: space-between;
    padding-bottom: 10rem;
    margin-bottom: 50px;

    div{
        margin-left: 1rem;
        margin-right: 1rem;
        padding-top: 2rem;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        h1{
            margin: 0;
            font-weight: 400;
            font-size: 4vw;
            margin-bottom: 0.5rem;
        }
        h2{   
            margin: 0;
            font-weight: 400;
            font-size: 3vw;
            margin-bottom: 0.3rem;
        }
    }

}
.header-upper{
    background-color: #0099CC;
    padding-bottom: 2rem;
}
.header-titles{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    color: white;
    h1{
        margin: 0;
        margin-bottom: 1rem;
        font-size: 5vw;
    }
    h2{
        margin: 0;
        font-size: 3vw;
    }
}
.header-search{

    margin: auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 60px;

    p{
margin: auto;
    }
}
.header-search-button{
    margin: auto;
    margin-top: 1rem;
    width: 70vw;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(224, 159, 40);
    border-radius: 60px;

    p{
        font-size: 14px;
        color: white;
    }
}